PORTAL_USER=sed.lhr.dept
PORTAL_PASS=seddep@123
BASE_URL=https://dashboard-tracking.punjab.gov.pk/
REPORT_SOURCE=unfiltered
FILTERED_TARGET_URL=https://dashboard-tracking.punjab.gov.pk/user_wise_larva_report?district_id=18&date_range=0&dormant_users=true&line_listing=true&status=false&title=Dormant+Users
UNFILTERED_TARGET_URL=https://dashboard-tracking.punjab.gov.pk/user_wise_larva_report?district_id=18&date_range=0

PLAYWRIGHT_HEADLESS=false
PLAYWRIGHT_SLOW_MO_MS=300
GENERATE_SCREENSHOT=false

NATS_URL=nats://localhost:4222
NATS_SUBJECT=whatsapp.pending
WA_SEND_DELAY_MS=1500
WA_ATTACHMENT_TEXT_MODE=separate
WA_INCLUDE_EXCEL_FOR_DDEO=true
WA_INCLUDE_EXCEL_FOR_AEO=false
WHATSAPP_RECIPIENTS_FILE=whatsapp_recipients.csv
OFFICERS_LIST_FILE=officers_list.csv
