CONTROL_API_HOST=127.0.0.1
CONTROL_API_PORT=8787
CONTROL_API_TOKEN=change-this-before-tailscale
CONTROL_API_PUBLIC_URL=https://hustle03.tailbc3cfc.ts.net/control-api
DEOMEE_AUTOMATIONS_ROOT=/home/ahmad/code/deomeeautomations
CONTROL_API_DATA_DIR=/home/ahmad/code/deomeeautomations/automation-control-api/data
